/* Estrutura do site****/
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background: #fff url(imagem/fundo.png) repeat-x;
}
#container{
    width: 750px;
    margin: 0 auto;
    border: 1px solid red;
}
#topo{
    height: 150px;
    background: url(imagem/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
    border: 1px solid red;
}
.logo{
    width: 152px;
    height: 66px;
    background: url(imagem/logo.png) no-repeat center;
    text-indent: -3000px;
}
/***Barra de navegacao ***/
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul {
    margin-top: 30px;
    background: #b10333;
    float: left;

}
#topo ul li{
    float: left;

}
#topo ul a{
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #FFF;
    background: url(imagem/divisor.png) no-repeat center left;

}

#topo ul .primeiro a{
    background: none;
}

#topo ul a:hover{
    color: #69001d
}
body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.fotos #navegacao a#fotos
{
    color: #fff;
    background: #de003e;
    cursor: text;
}
/**formata area do conteudo **/
#conteudo{
    margin-top: 60px;
    background: #f5f5f5;
    
}
#lateral {
    width: 180px;
    background: chartreuse;
    margin: 0 0 20px -750px;
    float: left;
}
#tres-colunas #primario {
    width: 270px;
    background: blue;
    margin: 0 0 20px 195px;
    float: left;
}
#tres-colunas #duas {
        width: 555px;
        background: blue;
        margin: 0 0 20px 195px;
        float: left;
}
#secudario {
    width: 270px;
    margin: 0 0 20px 15px;
    background: blueviolet;
    float: left;
}

/**Rodape **/
#container-rodape {
    background: #294c71;
    padding: 20px;
}
#rodape{
    width: 750px;
    margin: 0 auto;
    color: #fff;
}